# {{ServiceName}} Service Configuration
HOSTNAME=localhost
PORT={{SERVICE_PORT}}

# Gateway Configuration
GATEWAY_HOSTNAME=localhost
GATEWAY_PORT=3000

# Registry Configuration
REGISTRY_PORT=3001
REG_KEY={{REG_KEY}}

# Service-specific Configuration
# Add any service-specific environment variables here
