# {{ServiceName}} Service Configuration
HOST=localhost
PORT={{SERVICE_PORT}}

# Gateway and Registry Configuration
GATEWAY_HOST=localhost
GATEWAY_PORT=3000
REGISTRY_PORT=3001
REGISTRY_KEY={{REGISTRY_KEY}}

# Service-specific Configuration
# Insert additional keys below that only belongs to this service
