# USERS Service Configuration
NODE_ENV=development
PORT=8003

# Gateway Configuration
GATEWAY_URL=http://localhost:3000

# Registry Configuration
REGISTRY_URL=http://localhost:3001
REG_KEY=insert_registry_key_here

# Service-specific Configuration
# Add any users-service specific environment variables here
